﻿@model IEnumerable<ePark.Data.SystemParameter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered, table-striped, table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParmDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParmValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParmMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParmRate)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParmDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParmValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParmMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParmRate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.ParametersID}) |
                @Html.ActionLink("Details", "Details", new {id = item.ParametersID}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.ParametersID})
            </td>
        </tr>
    }

</table>
