﻿@using System.Diagnostics.Eventing.Reader
@using ePark.WebUI.Helpers
@model ePark.WebUI.Areas.Users.ViewModels.UserDashboardViewModel

@{
    ViewBag.Title = "Index";
}

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="bActivewidget bActivewidget-color-blue" id="wid-id-4" data-widget-editbutton="false" data-widget-colorbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-list-alt txt-color-white"></i> </span>
                        <h2> Recent Parking Activity </h2>
                    </header>
                    <div id="MainMenu">
                        @AlertHelper.GetAvailableAlerts(this.ViewContext)

                        <!--Inquiries Accordian-->
                        <div class="list-group panel">
                            <a href="#inquiries" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">INQUIRIES</a>
                            <div class="collapse" id="inquiries">
                                <ul id="sortable1" class="inquiry-dashboard">
                                    @if (Model.InquiriesAwaitingPayment.Count > 0)
                                    {
                                        foreach (var inquiry in Model.InquiriesAwaitingPayment)
                                        {
                                            <li>
                                                <p>
                                                    <a href="@Url.Action("Index", "Payment", new {area = "Users", id = inquiry.InquiryID})"><strong>Inquiry #@inquiry.Id</strong></a> - @inquiry.FirstName @inquiry.LastName | Reservation <small>(@inquiry.GroupDesc.ToLower() access)</small>
                                                    <span class="text-muted">
                                                        @if (!inquiry.IsApproved.Value)
                                                        {
                                                            <text>Pending Approval for </text>
                                                            @inquiry.ReservedMonthDateTime
                                                        }
                                                        else
                                                        {
                                                            <text>Inquiry Approved </text>@inquiry.ApprovedDate
                                                        }, Awaiting Payment
                                                    </span>
                                                    <span class="text-muted">Inquiry Received: @inquiry.CreateDate</span>
                                                </p>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                            <!-- Contracts Accordian-->
                            <a href="#Contracts" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">CONTRACTS</a>
                            <div class="collapse" id="Contracts">
                                <div role="content">
                                    <div class="widget-body">
                                        <div class="table-responsive">
                                            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Group</th>
                                                        <th>Status</th>
                                                        <th>Create Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @Html.HiddenFor(model => Model.CurrentContracts)
                                                    @foreach (var item in Model.CurrentContracts)
                                                    {
                                                        <tr>
                                                            <td>
                                                                
                                                                @Html.DisplayFor(modelItem => item.GroupCategoryDesc)
                                                            </td>
                                                            <td>@Html.DisplayFor(modelItem => item.ContractStatusDesc)
                                                            </td>
                                                            <td>
                                                                @item.CreateDate.Value.ToShortDateString()
                                                            </td>
                                                            <td>
                                                                <a href="@Url.Action("Index", "ContractTemplate", new { area = "Users", userid = @item.AspNetUsersId.Value.ToString() })"><span><i class='fa fa-file-text-o'></i></span></a>
                                                               
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Payments Due Accordian-->
                            <a href="#PaymentsDue" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">PAYMENTS DUE</a>
                            <div class="collapse" id="PaymentsDue">
                                <div role="content">
                                    <div class="widget-body">
                                        <div class="table-responsive">
                                            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>User</th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>
                                                            Payment Type
                                                        </th>
                                                        <th>Amount</th>
                                                        <th>Month</th>
                                                        <th>Paid</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @Html.HiddenFor(model => Model.CurrentPaymentViewList)
                                                    @foreach (var item in Model.CurrentPaymentViewList)
                                                    {
                                                        <tr>
                                                            <td>

                                                                @Html.DisplayFor(modelItem => item.UserName)
                                                            </td>
                                                            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>

                                                            <td>

                                                                @Html.DisplayFor(modelItem => item.LastName)
                                                            </td>

                                                            <td>@Html.DisplayFor(modelItem => item.TransactionDesc)</td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Amount)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ReservedMonth)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.PayDate)
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                            <div class="col-md-offset-2 col-md-10">
                                                <input id="btnPay"
                                                       type="button"
                                                       title="Proceed to Payment" value="* Proceed to Payment *"
                                                       onclick="location.href='@Url.Action("Index", "Payment", new { area = "Users", id = @Model.CurrentUserId })'" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--Payments Accordian-->
                            <a href="#AllPayments" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">PAYMENTS</a>
                            <div class="collapse" id="AllPayments">
                                <div role="content">
                                    <div class="widget-body">
                                        <div class="table-responsive">
                                            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>User</th>
                                                        <th>Response</th>
                                                        <th>Date</th>
                                                        <th>
                                                            Amount
                                                        </th>
                                                        <th>Status</th>
                                                        <th>Trans ID</th>
                                                        <th>Query</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @Html.HiddenFor(model => Model.CurrentReceiptView)
                                                    @foreach (var item in Model.CurrentReceiptView)
                                                    {
                                                        <tr>
                                                            <td>

                                                                @Html.DisplayFor(modelItem => item.UserName)
                                                            </td>
                                                            <td>@Html.DisplayFor(modelItem => item.transResponseString)</td>

                                                            <td>

                                                                @Html.DisplayFor(modelItem => item.transDate)
                                                            </td>

                                                            <td>@Html.DisplayFor(modelItem => item.transAmount)</td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.transStatus)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.transTransactionID)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.transQuery)
                                                            </td>

                                                        </tr>

                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<div class="modal fade" id="approveInquiry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm Approval</h4>
            </div>
            <div class="modal-body">
                <span>Are you sure you want to approve Inquiry #<label id="InquiryId" value=""></label>?</span>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="QuickConfirmCancel(this)" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="QuickConfirmProceed(this)" class="btn btn-danger">Confirm Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Areas/Shared/Content/js/plugin/jqgrid/jquery.jqGrid.min.js")
    @Scripts.Render("~/Areas/Shared/Content/js/plugin/jqgrid/grid.locale-en.min.js")
    //@Scripts.Render("~/Areas/Shared/Content/js/plugin/jqgrid/grid.locale-en.min.js")

    @Scripts.Render("~/Scripts/jqgridsrc/grid.inlinedit.js")




    <script type="text/javascript">
        //page setup belongs in the layout... inquiry junk only on the dashboard
        $(document).ready(function () {

            $('ul.inquiry-dashboard li').on('click', function () {
                window.location = $("a", this).attr('href');
            });

            function countInquries() {

                $('.inquiry-dashboard-group-title').each(function () {
                    var $this = $(this);
                    $this.find(".num-of-inquiries").text($this.next().find("li").size());
                });
            }

            $(".js-status-update a").click(function () {
                var selText = $(this).text();
                var $this = $(this);
                $this.parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
                $this.parents('.dropdown-menu').find('li').removeClass('active');
                $this.parent().addClass('active');
            });

            //$(function () {
            //    $("#sortable1, #sortable2").sortable({
            //        handle: '.handle',
            //        connectWith: ".inquiry-dashboard",
            //        update: countInquries
            //    }).disableSelection();
            //});

            $('.inquiry-dashboard .checkbox > input[type="checkbox"]').click(function () {

                //var inquiryId = $(this).data('inquiry-id');
                //alert('clicked ' + inquiryId);
                //$(".modal-body #InquiryId").val(inquiryId);
                $('#approveInquiry').modal('show');

            });

            $('#approveInquiry').on('show.bs.modal', function (event) {
                var checkbox = $(event.relatedTarget); // Button that triggered the modal
                var inquiryId = checkbox.data('inquiry-id'); // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this);
                modal.find('.modal-title').text('Confirm Inquriy #' + inquiryId);
                modal.find('.modal-body #InquiryId').val(inquiryId);
            });

            $('.fc-header-right, .fc-header-center').hide();

        });

        function QuickConfirm() {

            $('#modalContent').load(this.href, function () {
                $('#myModal').modal('show');

                return false;
            });
        }

        function QuickConfirmProceed() {

            alert('confirmed');
        }

        function QuickConfirmCancel() {

            alert('cancelled');
        }

        //$('.inquiryApproval').click(function (e) {e.stopPropagation();

        //    var inquiryId = $(this).data('id');
        //    $(".modal-body #InquiryId").val(inquiryId);
        //    $('#approve-inquiry').modal('show');
        //    //$.ajax({
        //    //    type: 'POST',
        //    //    url: 'Dashboard/UpdateInquiries',
        //    //    data: { 'id': id }
        //    //});
        //});

        //$('input:checkbox').click(function (e) {e.stopPropagation();

        //    //$.ajax({
        //    //    type: 'POST',
        //    //    url: 'Dashboard/UpdateInquiries',
        //    //    data: { 'id': id }
        //    //});
        //});


        $(document).ready(function () {
            jQuery("#jqgrid").jqGrid({
                //data: jqgridData,
                mtype: "Get",
                datatype: "json",
                url: "/Payment/ProvidePayments",
                height: 'auto',
                colNames: ["ContractTransactionID", "User", "Name", "Group", "Payment", "Amount"],
                colModel: [
                    {
                        name: "ContractTransactionID",
                        index: "ContractTransactionID",
                        key: true,
                        hidden: true
                    },
                    {
                        name: 'UserName',
                        index: 'UserName',
                        sortable: false,
                        editable: false
                    }, {
                        name: 'Name',
                        index: 'Name',
                        editable: false
                    }, {
                        name: 'GroupDesc',
                        index: 'GroupDesc',
                        editable: false

                    }, {
                        name: 'TransactionDesc',
                        index: 'TransactionDesc',
                        editable: false
                    }, {
                        name: 'Amount',
                        index: 'Amount',
                        editable: true,
                        formatter: 'number',
                        formatoptions: { decimalPlaces: 2 }

                    }
                ],
                rowNum: 15,

                pager: '#pjqgrid',
                loadonce: true,
                sortname: 'id',
                toolbarfilter: true,
                viewrecords: true,
                sortorder: "asc",
                gridComplete: function () {
                    var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        be = "<button class='btn btn-xs btn-default' data-original-title='Edit Row' onclick=\"jQuery('#jqgrid').editRow('" + cl + "');\"><i class='fa fa-pencil'></i></button>";
                        se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#jqgrid').saveRow('" + cl + "');\"><i class='fa fa-save'></i></button>";
                        ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"jQuery('#jqgrid').restoreRow('" + cl + "');\"><i class='fa fa-times'></i></button>";
                        ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('" + cl + "');\"><i class='fa fa-times'></i></button>";
                        //jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
                        // jQuery("#jqgrid").jqGrid('setRowData', ids[i], {
                        //     act: be + se + ca
                        // });
                    }
                },
                editurl: "Payment/TransEdit",


                caption: "ePark Payments",
                multiselect: true,
                autowidth: true

            });

            // Controls for Edit, Delete, Refresh...  at bottom
            jQuery("#jqgrid").jqGrid('navGrid', "#pjqgrid", {
                edit: true,
                add: false,
                del: true
            });

            jQuery("#jqgrid").jqGrid('inlineNav', "#pjqgrid");
            /* Add tooltips */
            $('.navtable .ui-pg-button').tooltip({
                container: 'body'
            });

            jQuery("#m1").click(function () {
                var s;
                s = jQuery("#jqgrid").jqGrid('getGridParam', 'selarrrow');
            });
            jQuery("#m1s").click(function () {
                jQuery("#jqgrid").jqGrid('setSelection', "13");
            });

            // remove classes
            $(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
            $(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
            $(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
            $(".ui-jqgrid-pager").removeClass("ui-state-default");
            $(".ui-jqgrid").removeClass("ui-widget-content");

            // add classes
            $(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
            $(".ui-jqgrid-btable").addClass("table table-bordered table-striped");

            $(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
            $(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
            $(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
            $(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
            $(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
            $(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
            $(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
            $(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

            $(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

            $(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

            $(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

            $(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");

        });

        $(window).on('resize.jqGrid', function () {
            $("#jqgrid").jqGrid('setGridWidth', $("#content").width());
        });

        function formateadorLink(cellvalue, options, rowObject) {

            return "<a href=/Payment/Pay/ids=" + rowObject.ContractTransactionID + ">" + cellvalue + "</a>";
        }

        function decimalMoney() {

            return "number: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2, defaultValue: '0.00' }";

        }


    </script>

    <style css>
        .list-group.panel > .list-group-item {
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .list-group-submenu {
            margin-left: 20px;
        }
    </style>
}
