﻿@model ePark.Data.EmailTemplate

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EmailTemplate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmailShortDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailShortDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmailTemplateID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
