﻿
@{
    ViewBag.Title = "PaymentReceipt";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="pjqgrid"></div>

        <table id="jqgrid" class="smoothscroll"></table>

        <br />
        @*<div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btnPay" value="* Proceed To Payment *" class="btn btn-default" />
            </div>*@
    </article>
</div>

@section Scripts {
    @Scripts.Render("~/Areas/Shared/Content/js/plugin/jqgrid/jquery.jqGrid.min.js")
    @Scripts.Render("~/Areas/Shared/Content/js/plugin/jqgrid/grid.locale-en.min.js")
    //@Scripts.Render("~/Areas/Shared/Content/js/plugin/jqgrid/grid.locale-en.min.js")

    @Scripts.Render("~/Scripts/jqgridsrc/grid.inlinedit.js")


    <script type="text/javascript">

            $(document).ready(function() {
                jQuery("#jqgrid").jqGrid({
                    //data: jqgridData,
                    mtype: "Post",
                    datatype: "json",
                    url: "/PaymentManagement/ProvideCustomerPayments",
                    height: 'auto',
                    colNames: ["Id","TransReceiptID","Action", "User Name", "Status", "Trans Date", "Status", "Amount", "FIS Receipt", "Pay Type"],
                    colModel: [
                        {
                            name: "Id",
                            hidden: true
                        },
                        {
                            name: "TransReceiptID",
                            hidden: true
                        },
                         {
                             name: "Action",
                             fixed: true,
                             formatter: formatReceiptLink,
                             align:'center'
                         },
                        {
                            name: "UserName",
                            index: "UserName",
                            searchoptions: { sopt: ['eq', 'bw', 'cn'] },
                            align: 'left'
                        },
                        {
                            name: 'transResponseString',
                            index: 'transResponseString',
                            sortable: true,
                            editable: false,
                            searchoptions: { sopt: ['eq', 'bw', 'cn'] }
                            ,align: 'center'

                        },
                        {
                            name: 'transDate',
                            index: 'transDate',
                            sortable: true,
                            editable: false,
                            searchoptions: { sopt: ['eq', 'bw', 'cn'] },
                            formatter: 'date', formatoptions: { newformat: 'm/d/Y' },
                            align: 'center'
                        },
                         {
                             name: 'transStatus',
                             index: 'transStatus',
                             editable: false,
                             sortable: true,
                             align:'center'
                         },
                        {
                            name: 'transAmount',
                            index: 'transAmount',
                            sortable: true,
                            editable: false,
                            formatter: 'number',
                            formatoptions: { decimalPlaces: 2 },
                            searchoptions: { sopt: ['eq', 'bw', 'cn'] },
                            align: 'right'
                        }, {
                            name: 'transTransactionID',
                            index: 'transTransactionID',
                            editable: false,
                            sortable: true,
                            align: 'center'
                        }, {
                            name: 'transQuery',
                            index: 'transQuery',
                            editable: false,
                            align: 'center'
                           
                        }
                    ],
                    rowNum: 12,
                   // altRows:true,
                    pager: '#pjqgrid',
                    loadonce: true,
                    rowList: [10, 20, 50, 100],
                    viewRecords: true,
                    sortname: 'id',
                    toolbarfilter: true,
                    viewrecords: true,
                    sortorder: "asc",
                   // multiselect: true,
                    autowidth: true,
                    emptyrecords: 'No Payments to display',
                    jsonReader: {
                        root: 'rows',
                        page: 'page',
                        total: 'total',
                        records: 'records',
                        repeatitesm: false,
                        Id: '0'

                    },
                    onSelectRow: function (id) {
                        // just get the ID:
                        // alert(id);

                        // get the ID and other column data
                        // var selectedRow = jQuery("#jqGrid").jqGrid("getGridParam", "selrow");
                        // var row = jQuery("#jqGrid").jqGrid("getRowData", selectedRow);
                        // alert("You selected: " + row.Id + " With HttpResponse: " + row.ResponseHttpStatusCode);

                        //NAVIGATE ON ROW CLICK
                        window.location = "/Admin/UserManagement/UserMaint/?userid=" + row.AspNetUsersId;
                    }

                });

              //  edit: true,
                //editicon : 'ace-icon fa fa-pencil blue',
                // Controls for Edit, Delete, Refresh...  at bottom
                jQuery("#jqgrid").jqGrid('navGrid', "#pjqgrid", {
                    edit: true,
                    editicon : 'ace-icon fa fa-pencil blue',
                    add: false,
                    del: false,
                    search: true
                });

                jQuery("#jqgrid").jqGrid('inlineNav', "#pjqgrid");
                /* Add tooltips */
                $('.navtable .ui-pg-button').tooltip({
                    container: 'body'
                });


              

                $(window).on("resize.jqGrid", function () {
                    $("#jqgrid").jqGrid("setGridWidth", $("#content").width());
                });

            });

            function formatReceiptLink(cellvalue, options, rowObject) {

                return "<a href=/Admin/PaymentManagement/ReceiptbyReceiptId/?receiptid=" + rowObject.TransReceiptID +"><span><i class='fa fa-file-text-o'></i></span></a>";

            }


            function formatContractLink(cellvalue, options, rowObject) {
              
                return "<a href=/Admin/PaymentManagement/ReceiptbyContract/?contractid=1045>" + rowObject.transUser3 + "</a>";

            }

            function formateadorLink(cellvalue, options, rowObject) {

                return "<a href=/Admin/PaymentManagement/PaymentMaint/ids=" + rowObject.ContractTransactionID + ">" + cellvalue + "</a>";
            }

            function decimalMoney() {

                return "number: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2, defaultValue: '0.00' }";

            }


    </script>
}

