﻿@model ePark.WebUI.Models.PayModel
@{
    ViewBag.Title = "PaymentHist";
    //Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-car"></i> Payment Management <span>&gt; History</span></h1>
    </div>
</div>


<div class="row">

        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="pjqgrid"></div>

            <table id="jqgrid" class="smoothscroll"></table>

            <br />
            @*<div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="btnPay" value="* Proceed To Payment *" class="btn btn-default" />
                </div>*@
        </article>
    </div>

    @section Scripts {
        @Scripts.Render("~/Areas/Shared/Content/js/plugin/jqgrid/jquery.jqGrid.min.js")
        @Scripts.Render("~/Areas/Shared/Content/js/plugin/jqgrid/grid.locale-en.min.js")
        //@Scripts.Render("~/Areas/Shared/Content/js/plugin/jqgrid/grid.locale-en.min.js")

        @Scripts.Render("~/Scripts/jqgridsrc/grid.inlinedit.js")


        <script type="text/javascript">

            $(document).ready(function() {
                jQuery("#jqgrid").jqGrid({
                    //data: jqgridData,
                    mtype: "Get",
                    datatype: "json",
                    url: "/PaymentHistory/ProvidePayHistory",
                    height: 'auto',
                    colNames: ["AspNetUserId", "ContractTransactionID", "User", "Name", "Group", "Payment", "Amount"],
                    colModel: [
                        {
                            name: "AspNetUserId",
                            hidden: true
                        },
                        {
                            name: "ContractTransactionID",
                            index: "ContractTransactionID",
                            key: true,
                            hidden: true
                        },
                        {
                            name: 'UserName',
                            index: 'UserName',
                            sortable: false,
                            editable: false,
                            searchoptions:{sopt:['eq','bw','cn']}
                        }, {
                            name: 'Name',
                            index: 'Name',
                            editable: false
                            ,searchoptions: { sopt: ['eq', 'bw', 'cn'] }
                        }, {
                            name: 'GroupDesc',
                            index: 'GroupDesc',
                            editable: false

                        }, {
                            name: 'TransactionDesc',
                            index: 'TransactionDesc',
                            editable: false
                        }, {
                            name: 'Amount',
                            index: 'Amount',
                            editable: true,
                            formatter: 'number',
                            formatoptions: { decimalPlaces: 2 }

                        }
                    ],
                    rowNum: 12,

                    pager: '#pjqgrid',
                    loadonce: true,
                    rowList: [10, 20, 50, 100],
                    viewRecords: true,
                    sortname: 'id',
                    toolbarfilter: true,
                    viewrecords: true,
                    sortorder: "asc",
                   // multiselect: true,
                    autowidth: true,
                    emptyrecords: 'No Payments to display',
                    jsonReader: {
                        root: 'rows',
                        page: 'page',
                        total: 'total',
                        records: 'records',
                        repeatitesm: false,
                        Id: '0'

                    },
                    onSelectRow: function (id) {
                        // just get the ID:
                        // alert(id);

                        // get the ID and other column data
                        // var selectedRow = jQuery("#jqGrid").jqGrid("getGridParam", "selrow");
                        // var row = jQuery("#jqGrid").jqGrid("getRowData", selectedRow);
                        // alert("You selected: " + row.Id + " With HttpResponse: " + row.ResponseHttpStatusCode);

                        //NAVIGATE ON ROW CLICK
                        window.location = "/Admin/UserManagement/UserMaint/?userid=" + row.AspNetUsersId;
                    }

                });


                // Controls for Edit, Delete, Refresh...  at bottom
                jQuery("#jqgrid").jqGrid('navGrid', "#pjqgrid", {
                    edit: false,
                    add: false,
                    del: false,
                    search: true
                });

                jQuery("#jqgrid").jqGrid('inlineNav', "#pjqgrid");
                /* Add tooltips */
                $('.navtable .ui-pg-button').tooltip({
                    container: 'body'
                });

               
                // remove classes
                //$(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
                //$(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
                //$(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
                //$(".ui-jqgrid-pager").removeClass("ui-state-default");
                //$(".ui-jqgrid").removeClass("ui-widget-content");

                //// add classes
                //$(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
                //$(".ui-jqgrid-btable").addClass("table table-bordered table-striped");

                //$(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
                //$(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
                //$(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
                //$(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
                //$(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
                //$(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
                //$(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
                //$(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

                //$(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
                //$(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

                //$(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
                //$(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

                //$(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
                //$(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

                //$(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
                //$(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");

                $(window).on("resize.jqGrid", function () {
                    $("#jqgrid").jqGrid("setGridWidth", $("#content").width());
                });
                
            });

          

            function formateadorLink(cellvalue, options, rowObject) {

                return "<a href=/Admin/PaymentManagement/PaymentMaint/ids=" + rowObject.ContractTransactionID + ">" + cellvalue + "</a>";
            }

            function decimalMoney() {

                return "number: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2, defaultValue: '0.00' }";

            }
            
            
        </script>
    }
