﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<section id="mcc-epark-login" class="standard-section first-section text-left">
    <div class="heading-login margin-bottom-50 margin-top-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well well-lg well-light">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h2>UPDATE PASSWORD</h2>
                                    <p>Your password has been successfully updated.</p><p>&nbsp;</p>
                                        <a href="@Url.Action("Login", "Account")" class="btn btn-primary login-button">Login to ePark</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}