﻿@{
    ViewBag.Title = "Parking Inquiry Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="mcc-epark-inquiry" class="standard-section text-left">
    <div class="heading-inquiry margin-bottom-50 margin-top-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well well-lg well-light">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h2>Thanks for your inquiry!</h2>
                                    <p>
                                        The Nashville Music City Center Staff has received your parking inquiry for review.
                                    </p>
                                    <p>After we have processed your request, you will receive an email with instructions for completing your parking registration.</p>
                                </div>
                            </div>
                        </div>
                        <p class="last-in-well-weighted">
                            &#8212; Music City Center Adminstration
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
