﻿@model ePark.Data.Contract

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Contract</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AspNetUser.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ContractStatu.ContractStatusDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ContractStatu.ContractStatusDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Group.GroupDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Group.GroupDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EntityID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EntityID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ContractID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
