﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="main" role="main">

        <div id="content" style="opacity: 1;">

            <section id="widget-grid" class="">

                <div class="row">

                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

                        <div class="well">

                            <div role="content">

                                <div class="widget-body no-padding">

                                    <div class="padding-10">
                                        <br>
                                        <div class="pull-left">
                                            <img src="../../Content/img/logoA.png" />

                                            <address>
                                                <br>
                                                <strong>Nashville Music City Center</strong>
                                                <br>
                                                201 5th Ave South
                                                <br>
                                                Nashville, TN 37203 USA
                                                <br>
                                                <abbr title="Phone">P:</abbr> (615) 401-1300
                                            </address>
                                        </div>
                                        <div class="pull-right">
                                            <h1 class="font-400">invoice</h1>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <h4 class="semi-bold">Indiana Jones</h4>
                                                <address>
                                                    <strong>Parking Contract #56782</strong>
                                                    <br>
                                                    1234 Eastland Ave
                                                    <br>
                                                    Nashville, TN 37210
                                                    <br>
                                                    <abbr title="Phone">P:</abbr> (615) 555-1212
                                                </address>
                                            </div>
                                            <div class="col-sm-3">
                                                <div>
                                                    <div>
                                                        <strong>INVOICE NO :</strong>
                                                        <span class="pull-right"> #8457987 </span>
                                                    </div>

                                                </div>
                                                <div>
                                                    <div class="font-md">
                                                        <strong>INVOICE DATE :</strong>
                                                        <span class="pull-right"> <i class="fa fa-calendar"></i> 2015-05-01 </span>
                                                    </div>

                                                </div>
                                                <br>
                                                <div class="well well-sm  bg-color-darken txt-color-white no-border">
                                                    <div class="fa-lg">
                                                        Total Due :
                                                        <span class="pull-right"> 115.43 USD** </span>
                                                    </div>

                                                </div>
                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">QTY</th>
                                                    <th>ITEM</th>
                                                    <th>DESCRIPTION</th>
                                                    <th>PRICE</th>
                                                    <th>SUBTOTAL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center"><strong>1</strong></td>
                                                    <td><a href="javascript:void(0);">Card Activation Fee</a></td>
                                                    <td>One-time Parking Inquiry Deposit Fee (charged first month only)</td>
                                                    <td>$20.00</td>
                                                    <td>$20.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><strong>1</strong></td>
                                                    <td><a href="javascript:void(0);">Monthly Contract Parking</a></td>
                                                    <td>Army Corps Restricted Monthly Contract Parking (charged monthly)</td>
                                                    <td>$85.00</td>
                                                    <td>$85.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><strong>1</strong></td>
                                                    <td><a href="javascript:void(0);">Sales Tax (9.25%)</a></td>
                                                    <td>Sales Tax (charged monthly)</td>
                                                    <td>$7.86</td>
                                                    <td>$7.86</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><strong>1</strong></td>
                                                    <td><a href="javascript:void(0);">CBID Fee (0.25%)</a></td>
                                                    <td>Central Business Improvement District Fee (charged monthly)</td>
                                                    <td>$.22</td>
                                                    <td>$.22</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">Total</td>
                                                    <td><strong>$113.08</strong></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">Convenience Fee</td>
                                                    <td><strong>2.35%</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="invoice-footer">

                                            <div class="row">

                                                <div class="col-sm-7">
                                                    <div class="payment-methods">
                                                        <h5>Payment Methods</h5>
                                                        <img src="Images/americanexpress.png" width="64" height="64" alt="american express">
                                                        <img src="Images/mastercard.png" width="64" height="64" alt="mastercard">
                                                        <img src="Images/visa.png" width="64" height="64" alt="visa">
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="invoice-sum-total pull-right">
                                                        <h3><strong>Total: <span class="text-success">$115.43 USD</span></strong></h3>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="note">**If you are exempt from sales tax and you do not see that exemption reflected on this invoice, please contact us for an adjustment.</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </article>

                </div>
            </section>
        </div>
    </div>
</body>
</html>
