﻿@using ePark.WebUI.Helpers
@using Microsoft.AspNet.Identity
@model ePark.Data.Participant

@{
    ViewBag.Title = "Participant Details";
}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-car"></i> Driver Maintenance <span>&gt; View Driver</span></h1>
    </div>
</div>

<section id="widget-grid" class="">

    @AlertHelper.GetAvailableAlerts(this.ViewContext)

    <div class="row">

        <article class="col-sm-12 sortable-grid ui-sortable">

            <div class="bActivewidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">

                <header role="heading">
                    <div class="bActivewidget-ctrls" role="menu">  <a href="@Url.Action("Index", "Participants", new {area = "Users", id = User.Identity.GetUserId()})" class="button-icon" rel="tooltip" title="" data-placement="bottom" data-original-title="Cancel"><i class="fa fa-times"></i></a></div>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Details</h2>

                    <span class="bActivewidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>

                <div role="content">
                    <div class="widget-body">
                        <div class="form-horizontal">
                            <fieldset>
                                <legend>Driver Information</legend>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Contract.ContractID, htmlAttributes: new {@class = "col-md-2 control-label"})
                                    <div class="col-md-10">
                                        <label class="control-label"><strong>@Html.DisplayTextFor(model => model.Contract.ContractID)</strong></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new {@class = "col-md-2 control-label"})
                                    <div class="col-md-10">
                                        <label class="control-label">@Html.DisplayTextFor(model => model.FirstName)</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LastName, htmlAttributes: new {@class = "col-md-2 control-label"})
                                    <div class="col-md-10">
                                        <label class="control-label">@Html.DisplayTextFor(model => model.LastName)</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Relation, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <label class="control-label">@Html.DisplayTextFor(model => model.Relation)</label>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="@Url.Action("Edit", "Participants", new {area = "Users", id = Model.ParticipantID})" class="btn btn-primary">Edit</a>&nbsp;&nbsp;
                                        <a href="@Url.Action("Index", "Participants", new {area = "Users", id = User.Identity.GetUserId()})" class="btn btn-default">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}