﻿@model ePark.Data.Group

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupCategory.GroupCategoryDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupCategory.GroupCategoryDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
