﻿@model ePark.WebUI.Areas.Admin.Models.GroupsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Groups</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Description
        </th>
        <th>
            Begin
        </th>
        <th>
            End
        </th>
        <th>
            Amount
        </th>
        <th>
            Active
        </th>
    </tr>

@foreach (var item in Model.GroupCatRateList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupRateBegin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupRateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GroupID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GroupID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GroupID })
        </td>
    </tr>
}

</table>
