﻿@using System.Activities.Expressions
@using ePark.WebUI.Helpers
@model ePark.WebUI.Models.PayModel
@{
    ViewBag.Title = "Payment";
}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-user"></i> My Payments <span>&gt; Pending</span></h1>
    </div>
</div>

<section id="widget-grid" class="">
    @AlertHelper.GetAvailableAlerts(this.ViewContext)
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="bActivewidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">
                <header role="heading">
                    <div class="bActivewidget-ctrls" role="menu">
                        <a href="@Url.Action("Index", "Dashboard", new {area = "Users"})" class="button-icon" rel="tooltip" title="" data-placement="bottom" data-original-title="Cancel"><i class="fa fa-times"></i></a>
                    </div>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Summary</h2>

                    <span class="bActivewidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>
                <div role="content">
                    <div class="widget-body">
                        <div class="table-responsive">
                            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>User</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>
                                            Payment Type
                                        </th>
                                        <th>Amount</th>
                                        <th>Month</th>
                                        <th>Paid</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @Html.HiddenFor(model => Model.ResPaymentViewList)
                                    @foreach (var item in Model.ResPaymentViewList)
                                    {
                                        <tr>
                                            <td>

                                                @Html.DisplayFor(modelItem => item.UserName)
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>

                                            <td>

                                                @Html.DisplayFor(modelItem => item.LastName)
                                            </td>

                                            <td>@Html.DisplayFor(modelItem => item.TransactionDesc)</td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Amount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ReservedMonth)
                                            </td>
                                            <td>

                                                @if (item.Paid != null && (bool)item.Paid)
                                                {
                                                    Html.Display("Paid");
                                                }
                                                else
                                                {
                                                    Html.Display("Not Paid");
                                                }
                                            </td>

                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="row">
        <article class="col-sm-12 sortable-grid ui-sortable">
            <div class="bActivewidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">
                <header role="heading">
                    <div class="bActivewidget-ctrls" role="menu">
                        <a href="@Url.Action("Index", "Dashboard", new {area = "Users"})" class="button-icon" rel="tooltip" title="" data-placement="bottom" data-original-title="Cancel"><i class="fa fa-times"></i></a>
                    </div>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Summary</h2>

                    <span class="bActivewidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>
                <div role="content">
                    <div class="widget-body">
                        @using (Html.BeginForm("PayCC", "Payment", FormMethod.Post, new { type = "form", @class = "form-horizontal", id = "PaymentCCForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                <legend>Payment Information</legend>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.amt, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <label class="control-label">@Html.DisplayFor(model => model.amt)</label>
                                        @Html.HiddenFor(model => model.userid)
                                        @Html.HiddenFor(model => model.amt)
                                        @Html.ValidationMessageFor(model => model.amt, "", new { @class = "text-danger small" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ttlCBIDFee, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <label class="control-label">@Html.DisplayFor(model => model.ttlCBIDFee)</label>
                                        @Html.HiddenFor(model => model.ttlCBIDFee)
                                        @Html.ValidationMessageFor(model => model.ttlCBIDFee, "", new { @class = "text-danger small" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ttlTax, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <label class="control-label">@Html.DisplayFor(model => model.ttlTax)</label>
                                        @Html.HiddenFor(model => model.ttlTax)
                                        @Html.ValidationMessageFor(model => model.ttlTax, "", new { @class = "text-danger small" })
                                        @Html.HiddenFor(model => model.ContractTranstctionIds)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ttlAmount, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <label class="control-label">@Html.DisplayFor(model => model.ttlAmount)</label>
                                        @Html.HiddenFor(model => model.ttlAmount)
                                        @Html.ValidationMessageFor(model => model.ttlAmount, "", new { @class = "text-danger small" })
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Credit Card Information</legend>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BillingCardTypesID, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10 has-feedback">
                                        @Html.DropDownListFor(model => model.BillingCardTypesID, Model.BillingCardTypes, htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CCard, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.HiddenFor(model => model.ContractTranstctionIds)
                                        @Html.HiddenFor(model => model.SelectedPayTypeId)
                                        @Html.HiddenFor(model => model.ttlAmount)
                                        @Html.HiddenFor(model => model.ttlCBIDFee)
                                        @Html.HiddenFor(model => model.ttlTax)
                                        @Html.HiddenFor(model => model.userid)
                                        @Html.TextBoxFor(model => model.CCard, new { type = "number", @class = "form-control", tabindex = 1, required = "required" })
                                        @Html.ValidationMessageFor(model => model.CCard, "", new { @class = "text-danger small" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CVV, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.CVV, new { type = "number", @class = "form-control", tabindex = 1, required = "required" })
                                        @Html.ValidationMessageFor(model => model.CVV, "", new { @class = "text-danger small" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CCName, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.CCName, new { type = "text", @class = "form-control", tabindex = 1, required = "required" })
                                        @Html.ValidationMessageFor(model => model.CCName, "", new { @class = "text-danger small" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CCZip, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.CCZip, new { type = "number", @class = "form-control", tabindex = 1, required = "required" })
                                        @Html.ValidationMessageFor(model => model.CCZip, "", new { @class = "text-danger small" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CCMonthSelectedId, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10 has-feedback">
                                        @Html.DropDownListFor(model => model.CCMonthSelectedId, Model.CCMonthItems, htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SelectedCCYearId, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10 has-feedback">
                                        @Html.DropDownListFor(model => model.SelectedCCYearId, Model.CCYearsItems, htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" name="SubmitCCPayment" type="submit">
                                            <i class="fa fa-credit-card"></i>
                                            Process Payment
                                        </button>&nbsp;&nbsp;
                                        <a href="@Url.Action("Index", "Dashboard", new {area = "Users"})" class="btn btn-default">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </article>
    </div>
</section>

<div class="modal fade in" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel">
    <div class="modal-backdrop fade in" style="height: 539px;"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Credit Card Payment</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h1 class="text-align-center">Processing payment, please hold on...</h1>
                        </div>
                        <div class="text-align-center margin-bottom-20">
                            <span class="widget-icon align-center"> <i class="fa fa-4x fa-spinner fa-spin"></i> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Areas/Shared/Content/js/plugin/jqgrid/jquery.jqGrid.min.js")
    @Scripts.Render("~/Areas/Shared/Content/js/plugin/jqgrid/grid.locale-en.min.js")

    <script type="text/javascript">
        $(document).ready(function () {

            $('#PaymentCCForm').on('submit', function () {
                var form = $("#PaymentCCForm");
                if (form.valid()) {
                    $('#paymentModal').modal({
                        backdrop: 'static',
                        keyboard: false,
                        closable: false
                    });

                    return true;
                    //setTimeout(function () {
                    //    return true;
                    //}, 5000);
                }
                return false;
            });

            $('#paymentModal').on('show.bs.modal', function (e) {
                var button = e.relatedTarget;
                if ($(button).hasClass('no-modal')) {
                    e.stopPropegation();
                }
            });

        });
    </script>
}
