﻿@model ePark.WebUI.Areas.Users.Models.ReceiptModel
@{
    Layout = null;
}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" media="screen" href="~/Areas/Shared/Content/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="~/Areas/Shared/Content/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="~/Areas/Shared/Content/css/btAdapted-production-plugins.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="~/Areas/Shared/Content/css/btAdapted-production.min.css">
<link rel="shortcut icon" href="~/Areas/Shared/Content/img/favicon/favicon.ico" type="image/x-icon">
<link rel="icon" href="~/Areas/Shared/Content/img/favicon/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
<link rel="apple-touch-icon" href="~/Areas/Shared/Content/img/splash/sptouch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="76x76" href="~/Areas/Shared/Content/img/splash/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="~/Areas/Shared/Content/img/splash/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="~/Areas/Shared/Content/img/splash/touch-icon-ipad-retina.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-startup-image" href="~/Areas/Shared/Content/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
<link rel="apple-touch-startup-image" href="~/Areas/Shared/Content/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="main" role="main">

        <div id="content" style="opacity: 1;">

            <section id="widget-grid" class="">

                <div class="row">

                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">

                        <div class="well">

                            <div role="content">

                                <div class="widget-body no-padding">

                                    <div class="padding-10">
                                        <br>
                                        <div class="pull-left">
                                            <img src="../../Content/img/logoA.png" />

                                            <address>
                                                <br>
                                                <strong>Nashville Music City Center</strong>
                                                <br>
                                                201 5th Ave South
                                                <br>
                                                Nashville, TN 37203 USA
                                                <br>
                                                <abbr title="Phone">P:</abbr> (615) 401-1300
                                            </address>
                                        </div>
                                        <div class="pull-right">
                                            <h1 class="font-400">Receipt</h1>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <h4 class="semi-bold">@Html.DisplayFor(model => model.userName)</h4>
                                                <address>
                                                    <strong>Parking Contract #@Html.DisplayFor(model => model.currContract.ContractID)</strong>
                                                    <br>
                                                    @Html.DisplayFor(model => model.CityStateZip)
                                                    <br>
                                                    <abbr title="Phone">P: </abbr>@Html.DisplayFor(model => model.aspnetuserprofile.PhonePrimary)
                                                </address>
                                            </div>
                                            <div class="col-sm-3">
                                                <div>
                                                    <div>
                                                        <strong>Payment Type :</strong>
                                                        <span class="pull-right"> @Html.DisplayFor(model => model.PaymentType) </span>
                                                    </div>

                                                </div>
                                                <div>
                                                    <div class="font-md">
                                                        <strong>Receipt DATE :</strong>
                                                        <span class="pull-right"> <i class="fa fa-calendar"></i> @Html.DisplayFor(model => model.Currentdate) </span>
                                                    </div>

                                                </div>
                                                <br>
                                                <div class="well well-sm  bg-color-darken txt-color-white no-border">
                                                    <div class="fa-lg">
                                                        Total Due :
                                                        <span class="pull-right"> @Html.DisplayFor(model => model.ttlAmount) USD** </span>
                                                    </div>

                                                </div>
                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>DESCRIPTION</th>
                                                    <th>Payment</th>
                                                    <th>Amount</th>
                                                    <th>CBID Fee</th>
                                                    <th>Tax</th>
                                                    <th> SubTotal</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            @if (Model.ReceiptPayments.Count > 0)
                                            {
                                                foreach (var item in Model.ReceiptPayments)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(modelItem => item.GroupDesc)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.TransactionDesc)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.CBIDFee)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.Tax)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.ConvFee)</td>
                                                    </tr>
                                                    
                                                }
                                            }
                                            </tbody>
                                        </table>

                                        <div class="invoice-footer">

                                            <div class="row">

                                                <div class="col-sm-7">
                                                    <div class="payment-methods">
                                                        <h5>Payment Methods</h5>
                                                        <img src="../../Content/img//americanexpress.png" width="64" height="64" alt="american express">
                                                        <img src="../../Content/img/americanexpress.png" width="64" height="64" alt="american express">
                                                        <img src="../../Content/img/mastercard.png" width="64" height="64" alt="mastercard">
                                                        <img src="../../Content/img/visa.png" width="64" height="64" alt="visa">
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="invoice-sum-total pull-right">
                                                        <h3><strong>Total: <span class="text-success">$@Html.DisplayFor(model => model.ttlAmount) USD</span></strong></h3>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p class="note">**If you are exempt from sales tax and you do not see that exemption reflected on this invoice, please contact us for an adjustment.</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </article>

                </div>
            </section>
        </div>
    </div>
</body>
</html>
