﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Music City Center - ePark</title>

    <link type="text/css" href="~/content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/plugins/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" />
    <link type="text/css" href="~/content/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="~/content/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/content/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/content/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
</head>

<body data-spy="scroll">
    <div id="bodycontent">
        <div class="container margin-top-30">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading logo">
                        <img src="~/Content/img/mcc-home-logo.png" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pull-right">
                                <ul class="mcc-social-icons pull-right">
                                    <li class="social-facebook">
                                        <a href="https://www.facebook.com/NashvilleMusicCityCenter" target="_blank"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li class="social-twitter">
                                        <a href="https://twitter.com/NashvilleMCC" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="social-pinterest">
                                        <a href="http://pinterest.com/musiccitycenter/" target="_blank"><i class="fa fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pull-right">
                                <div class="quick-app-button">
                                    <a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg" role="button">Login to ePark</a>
                                    @*  <a href=@Url.Action("ParkingInquiry", "Account", new {area = ""}) class="btn btn-primary btn-lg" role="button">Begin <span> Application!</span></a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <footer>
        <div class="bottom-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <p>
                            Copyright © 2015 - Nashville Music City Center. All Rights Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/plugins/jquery.scrollUp.js"></script>
    <script src="~/Scripts/plugins/smoothscroll.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {

    });
    $.scrollUp();
</script>

    @RenderSection("scripts", required: false)
</body>
</html>
