﻿@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Error";
}

<section class="standard-section first-section text-left">
    <div class="heading-login margin-bottom-50 margin-top-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well well-lg well-light">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h2>SYSTEM ERROR</h2>
                                    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
                                    {
                                        <p><strong>Exception:&nbsp;</strong>@Model.Exception.Message</p>
                                        <p><strong>Controller:&nbsp;</strong>@Model.ControllerName</p>
                                        <p><strong>Action:&nbsp;</strong>@Model.ActionName</p>
                                        <p><strong>Stack Trace:&nbsp;</strong>@Model.Exception.StackTrace</p>
                                    }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}